/**
 * @name Couve
 * @author A user#8169, Nyria#3863
 * @description A new look to discord
 * @invite rtBQX5D3bD
 * @version 2.3.0
*/

@import url("https://nyri4.github.io/Couve/betterdiscord/app.css");

/* Settings */
:root {
  --version: "2.3.0";

  /* Colors */
  --main-color: #419e85;

  /* Borders */
  --avatar-radius: 8px;
}
